DEBUG = True
TEMPLATE_DEBUG = DEBUG

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.mysql', # Add 'postgresql_psycopg2', 'mysql', 'sqlite3' or 'oracle'.
        'NAME': 'cnd',                      # Or path to database file if using sqlite3.
        'USER': 'root',                      # Not used with sqlite3.
        'PASSWORD': '',                  # Not used with sqlite3.
        'HOST': '',                      # Set to empty string for localhost. Not used with sqlite3.
        'PORT': '',                      # Set to empty string for default. Not used with sqlite3.
    }
}

# SECURITY WARNING: keep the secret key used in production secret!
SECRET_KEY = ''

RECAPTCHA_PUBLIC_KEY = ''
RECAPTCHA_PRIVATE_KEY = ''

ADMINS = (
    ('Admin', 'admin@example.com'),
)

MANAGERS = ADMINS

DEFAULT_FROM_EMAIL = 'admin@example.com'

CONTACT_SENDER = 'admin@example.com'

CONTACT_RECIPIENTS = [
    'admin@example.com',
]

SITE_BANNER = 'This is a demonstration site. DO NOT ENTER REAL DATA.'

LANGUAGE_CODE = 'en-gb'
TIME_ZONE = 'Europe/London'

SEND_ACTIVATION_EMAIL = True
REGISTRATION_AUTO_LOGIN = True
ACCOUNT_ACTIVATION_DAYS = 7