{% extends "base.html" %}
{% block nav-create %}
<li class="active"><a href="{% url 'create' %}"><strong>Create</strong> Datasets</a></li>
{% endblock %}
{% block title %}Create Follow Up{% endblock %}
{% block content %}
<h1>Create Follow Up</h1>
<form action="" method="post">
    {% csrf_token %}
    <div class="actions clearfix">
        <ul>
            <li><input type="submit" value="Save and Complete" /></li>
            <li><a href="{% url 'detail' patient.id %}">Cancel</a></li>
        </ul>
    </div>
    <fieldset>
        <ul>
            <li>
                {{ form.date.label_tag }}
                {{ form.date }}
                {{ form.date.errors }}
            </li>
        </ul>
    </fieldset>
    <fieldset>
        <legend>Visual Acuity</legend>
            {{ va_form.management_form }}
            {{ va_form.non_form_errors }}
            {% for form in va_form %}
                {{ form.id }}
                <ul class="inline {{ va_form.prefix }}">
                    <li>
                        {{ form.eye.label_tag }}
                        {{ form.eye }}
                        {{ form.eye.errors }}
                    </li>
                    <li>
                        {{ form.scale.label_tag }}
                        {{ form.scale }}
                        {{ form.scale.errors }}
                    </li>
                    <li>
                        <label for="{{ form.correction.id_for_label }}"><span class="help"><span>List is in preferred order</span></span>Correction</label>
                        {{ form.correction }}
                        {{ form.correction.errors }}
                    </li>
                    <li>
                        {{ form.value.label_tag }}
                        {{ form.value }}
                        {{ form.value.errors }}
                    </li>
                </ul>
            {% endfor %}
    </fieldset>
    <fieldset>
        <legend>Complications</legend>
        <ul>
            <li>
                {{ form.complications.label_tag }}
                {{ form.complications }}
                {{ form.complications.errors }}
            </li>
        </ul>
    </fieldset>
    <div class="actions clearfix">
        <ul>
            <li><input type="submit" value="Save and Complete" /></li>
            <li><a href="{% url 'detail' patient.id %}">Cancel</a></li>
        </ul>
    </div>
</form>
{% endblock %}
{% block body-end %}
    <script type="text/javascript">
        $(function() {
            $('.inline.{{ va_form.prefix }}').formset({
                prefix: '{{ va_form.prefix }}',
            });
        })
    </script>
{% endblock %}
