{% extends "base.html" %}
{% block nav-create %}
<li class="active"><a href="{% url 'create' %}"><strong>Create</strong> Datasets</a></li>
{% endblock %}
{% block title %}Create Operation Note{% endblock %}
{% block content %}
<h1>Create Operation Note</h1>
<form action="" method="post">
    {% csrf_token %}
    <div class="actions clearfix">
        <ul>
            <li><input type="submit" value="Save" /></li>
            <li><input type="submit" value="Save and Next" name="save_and_next"/></li>
            <li><a href="{% url 'detail' patient.id %}">Cancel</a></li>
        </ul>
    </div>
    <fieldset>
        <ul>
            <li>
        {{ form.eyedraw.label_tag }}
                <div class="eyedraw-row">
                    <div class="EyeDrawWidget ed-widget edit">
                        <div class="ed-body">
                            <div class="ed-editor-container">
                                <div class="ed-toolbar">
                                    <ul class="ed-toolbar-panel ed-main-toolbar">
                                        {% for tool in form.eyedraw_tools %}
                                        <li id="{{ form.eyedraw.id_for_label}}_{{ tool.name }}">
                                            <a class="ed-button" href="#" data-function="addDoodle" data-arg="{{ tool.name }}">
                                                <span class="icon-ed-{{ tool.name }}"></span>
                                                <span class="label">{{ tool.label }}</span>
                                            </a>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div class="ed-editor">
                                    <div class="ed-drawing-controls">
                                        <!-- DRAWING TOOLBAR -->
                                        <ul class="ed-toolbar-panel ed-drawing-toolbar">
                                            <li>
                                                <a class="ed-button" href="#" data-function="resetEyedraw">
                                                    <span class="icon-ed-reset"></span>
                                                    <span class="label">Reset eyedraw</span>
                                                </a>
                                            </li>
                                        </ul>
                                        <!-- SELECTED DOODLE -->
                                        <div class="ed-selected-doodle">
                                            <select class="ed-selected-doodle-select" id="ed_example_selected_doodle" class="ed-selected-doodle-select">
                                            </select>
                                        </div>
                                    </div>
                                    <!-- DOODLE POPUP -->
                                    <div class="ed-doodle-popup closed">
                                    </div>
                                    <canvas id="{{ form.eyedraw.id_for_label}}_canvas" class="ed-canvas-edit" width="300" height="300"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{ form.eyedraw }}
                {{ form.eyedraw.errors }}
            </li>
        {% for field in form %}
            {% if field.name != "eyedraw" %}
            <li>
                {{ field.label_tag }}
                {{ field }}
                {{ field.errors }}
            </li>
            {% endif %}
        {% endfor %}
        </ul>
    </fieldset>
    <div class="actions clearfix">
        <ul>
            <li><input type="submit" value="Save" /></li>
            <li><input type="submit" value="Save and Next" name="save_and_next"/></li>
            <li><a href="{% url 'detail' patient.id %}">Cancel</a></li>
        </ul>
    </div>
</form>
{% endblock %}
{% block body-end %}
<script type="text/javascript">
    $(document).ready(function() {
        ED.init({
            'drawingName': '{{ form.eyedraw.id_for_label}}_drawing',
            'canvasId': '{{ form.eyedraw.id_for_label}}_canvas',
            'eye': 0,
            'scale': 1,
            'isEditable': true,
            'graphicsPath': '/static/eyedraw/img',
            'inputId': '{{ form.eyedraw.id_for_label}}',
            'onReadyCommandArray': [
                ['addDoodle',['AntSeg']],
                ['addDoodle',['PhakoIncision']],
                ['addDoodle',['PCIOL']],
            ],
        });
    });
</script>
{% endblock %}