<div class="data-section">
    {% for opnote in patient.opnote_set.all %}
    <h2>Operation Note {{ opnote.date }}</h2>
    <div class="row">
	<div class="column">
	    <h3>Anaesthetic</h3>
	    {{ opnote.anaesthetic.all|join:", " }}
	</div>
	<div class="column">
	    <h3>Surgeon</h3>
	    {{ opnote.surgeon_grade.name }}
	</div>
    </div>
    <h3>Operation</h3>
    <b>TODO: eyedraw?</b>
    <table>
	<thead>
	    <th>First / second eye</th>
	    <th>Primary reason for surgery</th>
	    <th>IOL inserted?</th>
	    {% if opnote.lens_inserted %}<th>IOL position</th>{% endif %}
	</thead>
	<tbody>
	    <td>{% if opnote.first_eye %}First{% else %}Second{% endif %}</td>
	    <td>{{ opnote.primary_reason.name }}</td>
	    <td>{{ opnote.lens_inserted }}</td>
	    {% if opnote.lens_inserted %}<td>{{ opnote.iol_position.name }}</td>{% endif %}
	</tbody>
    </table>
    <table>
	<tbody>
	    <tr>
		<th>Per-operative factors increasing the difficulty of surgery</th>
		<td>{% with factors=opnote.difficulty_factors.all %}{% if factors|length %}{{ factors|join:", " }}{% else %}None{% endif %}{% endwith %}</td>
	    </tr>
	    <tr>
		<th>Additional surgical procedures</th>
		<td>{% with procs=opnote.additional_procedures.all %}{% if procs|length %}{{ procs|join:", " }}{% else %}None{% endif %}{% endwith %}</td>
	    </tr>
	    <tr>
		<th>Operative incidental events / complications</th>
		<td>{% with comps=opnote.complications.all %}{% if comps|length %}{{ comps|join:", " }}{% else %}None{% endif %}{% endwith %}</td>
	    </tr>
	</tbody>
    </table>
    </dl>
    {% empty %}
    <p><a href="{% url 'create_opnote' patient.id %}">Add Operation Note</a></p>
    {% endfor %}
</div>
