{% for opnote in patient.opnote_set.all %}
<div class="data-section">
    <h2>Operation Note {{ opnote.date }}</h2>
    <div class="row">
	<div class="column">
	    <h3>Anaesthetic</h3>
	    {{ opnote.anaesthetic.all|join:", " }}
	</div>
	<div class="column">
	    <h3>Surgeon</h3>
	    {{ opnote.surgeon_grade.name }}
	</div>
    </div>
    <h3>Operation</h3>
    <b>TODO: eyedraw?</b>
    <table>
	<thead>
	    <th>First / second eye</th>
	    <th>Primary reason for surgery</th>
	    <th>IOL inserted?</th>
	    {% if opnote.get_lens_inserted_display %}<th>IOL position</th>{% endif %}
	</thead>
	<tbody>
	    <td>{% if opnote.get_first_eye_display %}First{% else %}Second{% endif %}</td>
	    <td>{{ opnote.primary_reason.name }}</td>
	    <td>{{ opnote.get_lens_inserted_display }}</td>
	    {% if opnote.get_lens_inserted_display %}<td>{{ opnote.iol_position.name }}</td>{% endif %}
	</tbody>
    </table>
    <table>
	<tbody>
	    <tr>
		<th>Per-operative factors increasing the difficulty of surgery</th>
		<td>{{ opnote.difficulty_factors.all|join:", "|default:"None" }}</td>
	    </tr>
	    <tr>
		<th>Additional surgical procedures</th>
		<td>{{ opnote.additional_procedures.all|join:", "|default:"None" }}</td>
	    </tr>
	    <tr>
		<th>Operative incidental events / complications</th>
		<td>{{ opnote.complications.all|join:", "|default:"None" }}</td>
	    </tr>
	</tbody>
    </table>
</div>
{% include "cndapp/followup_view.html" %}
{% empty %}
<div class="data-section">
    <p><a href="{% url 'create_opnote' patient.id %}">Add Operation Note</a></p>
</div>
{% endfor %}
