{% extends "base.html" %}
{% block title %}View Dataset {{ patient.uuid }}{% endblock %}
{% block content %}
	<h1>View Dataset</h1>
	<div class="actions clearfix">
		<ul>
			<li><a href="#">Update</a></li>
			<li><a href="#">Delete</a>
			<li><a href="#" class="print_page">Print</a>
		</ul>
	</div>
	<div class="data-section">
		<h2>Patient</h2>
		{% load qrcode %}
		<div class="qrcode">{{ patient_url|qrcode }}</div>
		<dl>
			<dt><span class="help"><span><strong>U</strong>niversally <strong>U</strong>nique <strong>ID</strong>entifier for this dataset. When
						printed and kept with patient notes, it allows the dataset to be
						matched up if followup data is entered.</span></span>UUID:</dt>
			<dd class="uuid">{{ patient.uuid }}</dd>
			<dt>Sex:</dt>
			<dd>{{ patient.get_sex_display }}</dd>
			<dt>DOB:</dt>
			<dd>{{ patient.dob_year }}</dd>
		</dl>
	</div>
	<div class="actions clearfix">
		<ul>
			<li><a href="#">Update</a></li>
			<li><a href="#">Delete</a>
			<li><a href="#" class="print_page">Print</a>
		</ul>
	</div>
{% endblock %}
