{% extends "base.html" %}
{% block title %}View Dataset {{ patient.uuid }}{% endblock %}
{% block content %}
<h1>View Dataset</h1>
<div class="actions clearfix">
    <ul>
        <li><a href="#">Update</a></li>
        <li><a href="{% url 'delete' patient.id %}">Delete</a>
        <li><a href="#" class="print_page">Print</a>
    </ul>
</div>
<div class="data-section patient-demographics">
    <h2>Patient</h2>
    {% load qr_tags %}
    <div class="qrcode">{% qr_from_text patient_url 150 %}</div>
    <dl>
        <dt><span class="help"><span><strong>U</strong>niversally <strong>U</strong>nique <strong>ID</strong>entifier for this dataset. When
						printed and kept with patient notes, it allows the dataset to be
						matched up if followup data is entered.</span></span>UUID:
        </dt>
        <dd class="uuid">{{ patient.uuid }}</dd>
        <dt>Sex:</dt>
        <dd>{{ patient.gender }}</dd>
        <dt>Postcode:</dt>
        <dd>{{ patient.postcode }}</dd>
        <dt>Treated Eye:</dt>
        <dd>{{ patient.treated_eye }}</dd>
    </dl>
</div>
{% include "cndapp/preopassessment_view.html" %}
<div class="actions clearfix">
    <ul>
        <li><a href="#">Update</a></li>
        <li><a href="{% url 'delete' patient.id %}">Delete</a>
        <li><a href="#" class="print_page">Print</a>
    </ul>
</div>
{% endblock %}
{% block body-end %}
<script type="text/javascript">
    $(document).ready(function() {
        ED.init({
            'drawingName': 'morphology_drawing',
            'canvasId': 'morphology_canvas',
            'eye': 0,
            'scale': 1,
            'isEditable': false,
            'graphicsPath': '/static/eyedraw/img',
            'inputId': 'morphology',
        });
        ED.init({
            'drawingName': 'eyedraw_drawing',
            'canvasId': 'eyedraw_canvas',
            'eye': 0,
            'scale': 1,
            'isEditable': false,
            'graphicsPath': '/static/eyedraw/img',
            'inputId': 'eyedraw',
        });
        ED.init({
            'canvasId': 'right_refraction_eyedraw_canvas',
            'isEditable': false,
            'graphicsPath': '/static/eyedraw/img',
            'inputId': 'right_refraction_eyedraw',
        });
        ED.init({
            'canvasId': 'left_refraction_eyedraw_canvas',
            'isEditable': false,
            'graphicsPath': '/static/eyedraw/img',
            'inputId': 'left_refraction_eyedraw',
        });
    });
</script>
{% endblock %}
