{% extends "base.html" %}
{% block nav-create %}
<li class="active"><a href="{% url 'create' %}"><strong>Create</strong> Datasets</a></li>
{% endblock %}
{% block title %}Create Patient{% endblock %}
{% block content %}
<h1>Create Patient</h1>
<form action="" method="post">
    {% csrf_token %}
    <div class="actions clearfix">
        <ul>
            <li><input type="submit" value="Save" /></li>
            <li><a href="{% if patient.uuid %}{% url 'detail' patient.id %}{% else %}{% url 'list' %}{% endif %}">Cancel</a></li>
        </ul>
    </div>
    <fieldset>
        <ul>
            <li>
                {{ form.gender.label_tag }}
                {{ form.gender }}
                {{ form.gender.errors }}
            </li>
            <li>
                {{ form.postcode.label_tag }}
                {{ form.postcode }}
                {{ form.postcode.errors }}
            </li>
            <li>
                {{ form.treated_eye.label_tag }}
                {{ form.treated_eye }}
                {{ form.treated_eye.errors }}
            </li>
        </ul>
    </fieldset>
    <div class="actions clearfix">
        <ul>
            <li><input type="submit" value="Save" /></li>
            <li><a href="{% if patient.uuid %}{% url 'detail' patient.id %}{% else %}{% url 'list' %}{% endif %}">Cancel</a></li>
        </ul>
    </div>
</form>
{% endblock %}
