{% extends "base.html" %}
{% block nav-create %}
<li class="active"><a href="{% url 'create' %}"><strong>Create</strong> Datasets</a></li>
{% endblock %}
{% block title %}Create Patient{% endblock %}
{% block content %}
<h1>Create Patient</h1>
<form action="" method="post">
    {% csrf_token %}
    <fieldset>
    {% for field in form %}
        <li>
            {{ field.errors }}
            {{ field.label_tag }}
            {{ field }}
        </li>
    {% endfor %}
    </fieldset>
    <input type="submit" value="Submit" />
</form>
{% endblock %}
