{% extends "base.html" %}
{% block nav-create %}
<li class="active"><a href="{% url 'create' %}"><strong>Create</strong> Datasets</a></li>
{% endblock %}
{% block title %}Create Pre-op Assessment{% endblock %}
{% block content %}
<h1>Create Pre-op Assessment</h1>
<form action="{% url 'create_preop' patient.id %}" method="post">
    {% csrf_token %}
    <div class="actions clearfix">
        <ul>
            <li><input type="submit" value="Save" /></li>
             <li><input type="submit" value="Save and Next" name="save_and_next"/></li>
           <li><a href="{% url 'detail' patient.id %}">Cancel</a></li>
        </ul>
    </div>
    <fieldset>
        <ul>
            <li>
                {{ form.date.label_tag }}
                {{ form.date }}
                {{ form.date.errors }}
            </li>
            <li>
                {{ form.diabetes.label_tag }}
                {{ form.diabetes }}
                {{ form.diabetes.errors }}
            </li>
            <li>
                {{ form.alpha_blockers.label_tag }}
                {{ form.alpha_blockers }}
                {{ form.alpha_blockers.errors }}
            </li>
            <li>
                {{ form.able_to_cooperate.label_tag }}
                {{ form.able_to_cooperate }}
                {{ form.able_to_cooperate.errors }}
            </li>
            <li>
                {{ form.able_to_lie_flat.label_tag }}
                {{ form.able_to_lie_flat }}
                {{ form.able_to_lie_flat.errors }}
            </li>
        </ul>
    </fieldset>
    <fieldset>
        <legend>Visual Acuity</legend>
        {{ va_form.management_form }}
        {{ va_form.non_form_errors }}
        {% for form in va_form %}
            {{ form.id }}
            <ul class="inline {{ va_form.prefix }}">
                <li>
                    {{ form.eye.label_tag }}
                    {{ form.eye }}
                    {{ form.eye.errors }}
                </li>
                <li>
                    {{ form.scale.label_tag }}
                    {{ form.scale }}
                    {{ form.scale.errors }}
                </li>
                <li>
                    <label for="{{ form.correction.id_for_label }}"><span class="help"><span>List is in preferred order</span></span>Correction</label>
                    {{ form.correction }}
                    {{ form.correction.errors }}
                </li>
                <li>
                    {{ form.value.label_tag }}
                    {{ form.value }}
                    {{ form.value.errors }}
                </li>
            </ul>
        {% endfor %}
    </fieldset>
    <fieldset>
        <legend>Examination</legend>
        <ul>
            <li>
                {{ form.morphology.label_tag }}
                <div class="eyedraw-row">
                    <div class="EyeDrawWidget ed-widget edit">
                        <div class="ed-body">
                            <div class="ed-editor-container">
                                <div class="ed-toolbar">
                                    <ul class="ed-toolbar-panel ed-main-toolbar">
                                        {% for tool in form.morphology_tools %}
                                        <li id="{{ form.morphology.id_for_label}}_{{ tool.name }}">
                                            <a class="ed-button" href="#" data-function="addDoodle" data-arg="{{ tool.name }}">
                                                <span class="icon-ed-{{ tool.name }}"></span>
                                                <span class="label">{{ tool.label }}</span>
                                            </a>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div class="ed-editor">
                                    <canvas id="{{ form.morphology.id_for_label}}_canvas" class="ed-canvas-edit" width="300" height="300"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{ form.morphology }}
                {{ form.morphology.errors }}
            </li>
            <li>
                {{ form.ocular_copathology.label_tag }}
                {{ form.ocular_copathology }}
                {{ form.ocular_copathology.errors }}
            </li>
            <li>
                {{ form.guarded_prognosis.label_tag }}
                {{ form.guarded_prognosis }}
                {{ form.guarded_prognosis.errors }}
            </li>
        </ul>
    </fieldset>
    <fieldset>
        <legend>Biometry</legend>
        <ul>
            <li>
                {{ form.keratomy_unit.label_tag }}
                {{ form.keratomy_unit }}
                {{ form.keratomy_unit.errors }}
            </li>
            <li>
                {{ form.k1.label_tag }}
                {{ form.k1 }}
                {{ form.k1.errors }}
            </li>
            <li>
                {{ form.k2.label_tag }}
                {{ form.k2 }}
                {{ form.k2.errors }}
            </li>
            <li>
                {{ form.axis_k1.label_tag }}
                {{ form.axis_k1 }}
                {{ form.axis_k1.errors }}
            </li>
            <li>
                {{ form.axial_length.label_tag }}
                {{ form.axial_length }}
                {{ form.axial_length.errors }}
            </li>
            <li>
                {{ form.desired_refraction.label_tag }}
                {{ form.desired_refraction }}
                {{ form.desired_refraction.errors }}
            </li>
            <li>
                {{ form.predicted_refraction.label_tag }}
                {{ form.predicted_refraction }}
                {{ form.predicted_refraction.errors }}
            </li>
            <li>
                {{ form.iol_power.label_tag }}
                {{ form.iol_power }}
                {{ form.iol_power.errors }}
            </li>
        </ul>
    </fieldset>
    <div class="actions clearfix">
        <ul>
            <li><input type="submit" value="Save" /></li>
            <li><input type="submit" value="Save and Next" name="save_and_next"/></li>
            <li><a href="{% url 'detail' patient.id %}">Cancel</a></li>
        </ul>
    </div>
</form>
{% endblock %}
{% block body-end %}
<script type="text/javascript">
    $(function() {
        $('.inline.{{ va_form.prefix }}').formset({
            prefix: '{{ va_form.prefix }}',
        });
    })
    $(document).ready(function() {
        ED.init({
            'drawingName': '{{ form.morphology.id_for_label}}_drawing',
            'canvasId': '{{ form.morphology.id_for_label}}_canvas',
            'eye': 0,
            'scale': 1,
            'isEditable': true,
            'graphicsPath': '/static/eyedraw/img',
            'inputId': '{{ form.morphology.id_for_label}}',
            'onReadyCommandArray': [
                ['addDoodle',['AntSeg']],
                //['addDoodle',['Lens']]
            ],
        });
    });
</script>
{% endblock %}
