{% extends "base.html" %}
{% block nav-create %}
<li class="active"><a href="{% url 'create' %}"><strong>Create</strong> Datasets</a></li>
{% endblock %}
{% block title %}Create Pre-op Assessment{% endblock %}
{% block content %}
<h1>Create Pre-op Assessment</h1>
<form action="{% url 'create_preop' patient.id %}" method="post">
    {% csrf_token %}
    <fieldset>
        <ul>
            {% for field in form %}
            <li>
                {{ field.label_tag }}
                {% if field.name = 'morphology' %}
                <canvas id="{{ form.morphology.id_for_label}}_canvas" class="ed-canvas" width="300" height="300"></canvas>
                {% endif %}
                {{ field }}
                {{ field.errors }}
            </li>
            {% endfor %}
        </ul>
    </fieldset>
    <fieldset>
        <legend>Visual Acuity</legend>
            {{ va_form.management_form }}
            {{ va_form.non_form_errors }}
            {% for form in va_form %}
                {{ form.id }}
                <ul class="inline {{ va_form.prefix }}">
                    {% for field in form %}
                    <li>
                        {% if not field.is_hidden %}{{ field.label_tag }}{% endif %}
                        {{ field }}
                        {{ field.errors }}
                    </li>
                    {% endfor %}
                </ul>
            {% endfor %}
    </fieldset>
    <input type="submit" value="Submit" />
</form>
{% endblock %}
{% block body-end %}
<script type="text/javascript">
    $(function() {
        $('.inline.{{ va_form.prefix }}').formset({
            prefix: '{{ va_form.prefix }}',
        });
    })
    $(document).ready(function() {
        ED.init({
            'drawingName': '{{ form.morphology.id_for_label}}_drawing',
            'canvasId': '{{ form.morphology.id_for_label}}_canvas',
            'eye': 0,
            'scale': 1,
            'isEditable': true,
            'graphicsPath': '/static/eyedraw/img',
            'inputId': '{{ form.morphology.id_for_label}}',
            'onReadyCommandArray': [
                ['addDoodle',['AntSeg']]
            ],
        });
    });
</script>
{% endblock %}
