<div class="row">
    <div class="column">
        <div width="160"><canvas id="{{ side }}_refraction_eyedraw_canvas" class="ed-canvas" width="160" height="160"></canvas></div>
	<input type="hidden" id="{{ side }}_refraction_eyedraw" value="{{ refr.eyedraw }}">
    </div>
    <div class="column">
	<dl>
	    <dt>Type</dt><dd>{{ refr.type }}</dd>
	    <dt>Sphere</dt><dd>{{ refr.sphere }}</dd>
	    <dt>Cylinder</dt><dd>{{ refr.cylinder }}</dd>
	    <dt>Axis</dt><dd>{{ refr.axis }}</dd>
	</dl>
    </div>
</div>
