<div class="row">
    {{ form.eye }}
    <div class="column">
	<div class="ed-editor">
            <canvas id="{{ form.eyedraw.id_for_label}}_canvas" class="ed-canvas-edit" width="160" height="160"></canvas>
        </div>
        {{ form.eyedraw }}
    </div>
    <div class="column">
	<ul>
	    <li>
		{{ form.type.label_tag }}
		{{ form.type }}
		{{ form.type.errors}}
	    </li>
	    <li>
		{{ form.sphere.label_tag }}
		{{ form.sphere }}
		{{ form.sphere.errors}}
	    </li>
	    <li>
		{{ form.cylinder.label_tag }}
		{{ form.cylinder }}
		{{ form.cylinder.errors}}
	    </li>
	    <li>
		{{ form.axis.label_tag }}
		{{ form.axis }}
		{{ form.axis.errors}}
	    </li>
	</ul>
    </div>
</div>
